// Ana Chula Variable
$ana-chula-red:      #B12E33;
$ana-chula-white:    #E9E1D9;
$ana-chula-black:    #000000;
$ana-chula-yellow:   #EDA733;
$ana-chula-green:    #546E3F;
$ana-chula-purple:   #1C083D;
$ana-chula-whatsapp: #25D366;



//Import Bootstrap
@use '../../../node_modules/bootstrap/scss/bootstrap.scss';